[Desktop Entry]
Name=Bitwarden
Comment=A secure and free password manager for all of your devices.
Exec=/home/aleksa/Applications/Bitwarden-1.14.0-x86_64_50fe5b18a7e39b0e71c5b9e6ee81aa0a.AppImage
Terminal=false
Type=Application
Icon=/home/aleksa/Documents/Dock/Icons/bitwarden.png
StartupWMClass=Bitwarden
X-AppImage-Version=1.14.0
Categories=Utility;
X-AppImage-BuildId=1IN24goKEzaFoO2SuKIV1Mfz2MM
TryExec=/home/aleksa/Applications/Bitwarden-1.14.0-x86_64_50fe5b18a7e39b0e71c5b9e6ee81aa0a.AppImage
X-AppImage-Old-Icon=bitwarden
X-AppImage-Identifier=9ee27260513be2d99970ff8bf8f61cd2
Actions=Remove;Update;
X-AppImageLauncher-Version=1.2.2 (git commit 7279b50), built on 2019-04-12 21:45:14 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Exec=/usr/lib64/appimagelauncher/remove "/home/aleksa/Applications/Bitwarden-1.14.0-x86_64_50fe5b18a7e39b0e71c5b9e6ee81aa0a.AppImage"
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
