[Desktop Entry]
Version=1.0
Type=Application
Name=Todoist
Comment=Todoist for Linux
Exec=/usr/bin/todoist
Icon=/home/aleksa/Documents/Dock/Icons/todoist.png
Path=
Terminal=false
StartupNotify=false
